* 
{
padding: 0;
margin: 5px;
text-align: center;
}

form
{
	padding-top: 50px;
	padding-left: 450px;
}

body
{
	background-image: url(https://thumbs.dreamstime.com/b/blue-sky-clouds-abstract-art-background-watercolor-digital-artwork-136551201.jpg);
}

.calculator 
{
width: 250px;
height: 430px;
background-color: #11110f;
border: 20px solid rgb(52, 147, 202);
border-radius: 10px;
}

#display 
{
width: 300px;
height: 40px;
padding: 5px;
text-align: right;
background-color: rgb(165, 180, 179);
border: 3px solid;
font-size: 18px;
left: 4px;
top: 2px;
color: black;
}

.btnTop
{
color: white;
background-color: #f0abdb;
font-size: 16px;
margin: auto;
width: 50px;
height: 35px;
cursor: pointer;
}

.btnNum 
{
color: black;
background-color: #f5ecbd;
font-size: 20px;
margin: auto;
width: 60px;
height: 40px;
border-radius: 10px;
cursor: pointer;
}

.btnMath 
{
color: black;
background-color: #c5f8f1;
font-size: 17px;
margin: auto;
width: 50px;
height: 35px;
cursor: pointer;
}

.btnOpps 
{
color: black;
background-color: #aaeb90;
font-size: 17px;
margin: auto;
width: 50px;
height: 35px;
cursor: pointer;
}

.btnNum:hover
{
    color: white;
    background-color: #e9d678;
}

.btnMath:hover
{
    color: white;
    background-color: #69b9af;
}

.btnOpps:hover
{
    color: white;
    background-color: #65df35;
}

.btnTop:hover
{
    color: rgb(184, 42, 65);
    background-color: #9c9797;
}
